<%- include("header.ejs") %>
    <%if(locals.response){%>
        <div class="anime-collection container text-center">
            <video class="img-fluid" src=<%=response %> type="video/mp4" autoplay="autoplay" loop="true" playsinline
                muted
                ></video>
        </div>

        <%}else if(locals.alert){%>
            <p>
                <%= alert %>
            </p>
            <% } %>
                <% if(locals.result){ %>
                    <%- include("searchResult.ejs") %>
                        <% }else if(locals.content){ %>
                            <%- include("anime.ejs") %>
                                <% } %>
                                    <%- include("footer.ejs") %>